body {
    background-color: white;
    font-family: Roboto, sans-serif;
}

#amaso-stack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .widget-wrapper {
        /* background-color: white; */
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .widget-wrapper-header {
            color: #999;
            font-size: 0.75rem;
        }
    }
}

#amaso-toolbar {
    /* background-color: lightblue; */

    position: fixed;
    bottom: 1rem;
    right: 1rem;

    display: flex;
    gap: 1rem;
}

.ActionItem {
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 0.25rem;

    display: flex;
    gap: 1rem;
    padding: 0.5rem;

    .ActionItem-text {
        font-weight: bold;
    }

    .ActionItem-description {
        color: #666;
    }
}
